.background {
    background-image: url('../static/front_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
    
    /* Preserve aspet ratio */
}


#buttonLoginMicrosoft{
    margin-top: 20px;
    text-align: center;
  

}