#background-login-backend {
    background-image: url('../static/background.jpg');
    background-repeat: no-repeat;
    
    width: 100%;
    height: auto;
    background-size: cover;

    /* Preserve aspet ratio */
}