.logo-header {
   padding: 16px;
   align-items: center;
   cursor: pointer;
   line-height: 32px;

  }
#title-logo{
  color: white;
  display: inline-block;
  position: relative;
  font-size:18px;
  font-weight: 600;
  margin-left: 8px;
  top: 3px;
}
.site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }
    
.header-right{
    margin-right: 40px !important;
    margin-top: 15px !important;
}
#components-dropdown-demo-arrow .ant-btn {
    margin-right: 16px;
    margin-bottom: 8px;
  }
.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
  }